.main-content {
  max-width: 80%;
}

.large_content {
  max-width: 100%;
}

h4 {
  color :red;
}

.grid {
  display: flex;
}
.col-1-2 {
  flex: 1;
}
.col-1-2:last-child {
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom:auto;
}

.comment {
  font-style: italic;
  font-size: large;
  text-align: center;
}

.commenttitle {
  font-style: normal;
  font-size: x-large;
  text-align: center;
}

.image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.wrapper {
  content: "";
  background-color: #a9b2c2;
  width: 4px;
  height: 30%;
  top: 40%;
  display: flex;
}

.flex-divs {
    display: flex;
    justify-content :space-between;
    align-items:flex-start;
}

.flex-divs-center {
    display: flex;
    justify-content :space-around;
    align-items:center;
}

.flex-divs-vertical {
    display: flex;
    flex-direction: column;
    justify-content :space-around;
    align-items:left;
}

.flex-divs-vertical-speaker {
    width : 470px;
    display: flex;
    flex-direction: column;
    justify-content :space-around;
    align-items:left;
}

